.console-container {
  display: flex;
}

.prestations-console{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  margin: 16px auto;
}


@media screen and (max-device-width: 480px) and (orientation:portrait) {
  .prestations-console {
    width: 80%;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .prestations-console {
      grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 64.063em) and (max-width: 100em) {
  .prestations-console {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
