.laptop-container {
  display: flex;
}


.solo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ebebeb;
  background-color: #0f2831;
  border: 1px solid #0f2831;
  padding: 8px;
  border-radius: 5px 0 5px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
}


.solo-btn:hover {
  background-color: #143642;
  color: #ebebeb;
  font-weight: bold;
  transition: 0.6s;
}

.prestations-laptop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  margin: 16px auto;
}

.img-tarif-laptop{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media screen and (max-device-width: 480px) and (orientation:portrait) {
  .prestations-laptop {
    width: 80%;
    grid-template-columns: 1fr;
  }

  .solo-btn {
    background-color: #0f2831;
    color: #ebebeb;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    justify-content: center;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .prestations-laptop{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 64.063em) and (max-width: 100em) {
    .prestations-laptop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .solo-btn{
      align-items: center;
      justify-content: center;
    }
}
