<div class="footer">
    <div class="footer-content">
      <div class="link-soc">
        <a href="https://www.instagram.com/pc_genius_/?hl=fr" target="_blank"><%= image_tag "instagram.png", alt: 'instagram logo', class: 'reseaux'  %></a>
      </div>
      <div class="siret">
        <p>SIRET: 90923339700019</br>
        website made by Dany</br> with ❤️</p>
      </div>
      <div class="link-soc">
        <a href="https://www.facebook.com/usergenius" target="_blank"><%= image_tag "facebook.png", alt: 'facebook logo', class: 'reseaux' %></a>
      </div>
    </div>
</div>
