<div class="navbar">
    <div class="navbar-content">
      <%= link_to "menu", index_path, class: "nav-btn" %>
      <h1>PC Genius</h1>
      <%= link_to "services", services_path, class: "nav-btn" %>
    </div>
</div>
