<div class="navbar">
  <a href="#" class="back-button" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="navbar-content">
      <%= link_to "menu", index_path, class: "nav-btn" %>
      <h1>PC Genius</h1>
      <%= link_to "services", services_path, class: "nav-btn" %>
    </div>
</div>
