<%= render 'shared/navbar' %>

    <div class="titlefor-contact">
      <h1>Contactez moi!</h1>
      <p>Je suis disponible du lundi au samedi.</p>
    </div>

<div class="contact-container">
  <div class="left-infos">

      <div class="mein-infos">
        <p><i class="fa-solid fa-envelope"></i> pc-genius@outlook.fr</p>
        <p><i class="fa-solid fa-phone"></i> 07.70.12.57.70</p>
        <p><i class="fa-solid fa-location-pin"></i> Saint-Amand-Les-Eaux</p>
      </div>
  </div>

  <div class="barre"></div>

    <div class="right-infos">
      <p>N'hésitez pas à me contacter, un diagnostique à distance et envisageable!</p>
      <p>Les déplacements sont gratuits pour Saint-Amand-Les-Eaux et ses alentours. Au-delà un supplément sera demandé en fonction du nombre de KM.</p>
      <p>N'hésitez pas à visiter la page des - Services - proposés pour essayer d'identifier votre problème.</p>
      <%= link_to "services", services_path, class: "serv-btn" %>
    </div>
</div>

<%= render 'shared/footer' %>
