<%= render 'shared/banner' %>
  <div class="push"></div>
<div class="card">
  <div class="left-card">
    <p>Un problème avec vos appareils ? Pc Genius est à votre disposition
    pour la réparation et maintenance de vos ordinateurs, consoles
    de jeux, smartphones et appareils périphériques.</p>
  </div>
  <div class="right-card">
    <p>Une fois le contact efféctué nous passons au diagnostique
    de votre appareil, établissons un devis puis solutionnons
    le problème dans les meilleurs délais.</p>
  </div>
</div>

<%= render 'shared/footer' %>
