<%= render 'shared/navbar' %>

<div class="phone-container">
    <div class="title">
      <h3>Voici les préstations pour smartphones, n'hésitez pas à me contacter pour toutes questions.</h3>
      <%= link_to "me contacter", contact_path, class: "solo-btn" %>
    </div>
      <div class="prestations-phone">
        <%= image_tag 'presta-test.png', class: "iphone-pix" %>
      </div>
</div>

<%= render 'shared/footer' %>
