.footer {
  width: 100%;
  background-color: #143642;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #0f2831;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.siret {
  color: #ebebeb;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
}

.link-soc:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.reseaux {
  width: 70px;
}
